In [47]:
#Q1 Explain key features of python that make it popular choice of programming?
# Ans. there are some Key features of python that make it popular choice for programming:-
# 1. Python is free to use and distribiute and is supported by community.
# 2. Python interpreter is avaiable for every major platform.
# 3. Python programs run unchanged on most platforms.
# 4. Python runs on every major platforms currently in use.
# 5. Vast collection of third party libraies.

#Q2 Describe the role of predefined keyword and provide example of how they are used in python?
# Ans. Here the some example of predefined keywords:-
# False  await   else    import  pass
# None   break   except  in      raise
# True   class   finally is      return
# and    continue for    lambda  try
# as     def     from    nonlocal while
# assert del     global  not      with
# async  elif    if      or       yield

#Q3 Compare and contrast of mutable and immutable objects in python with example?
# Ans. Mutable:- Mutable objects are those objects whose values can be change.
# Example:- list, set, dictionary.
# List
li= [1, 2, 3 , 4]
li[0]= 25
li[2]= 50
li

[25, 2, 50, 4]

In [37]:
# Set
s={1, 2, 5, 8}
s.add(9)
s

{1, 2, 5, 8, 9}

In [36]:
#immutable:- immutable objects are those objects whose value can notbe changed
# Example:- tupple, string
#Q4 Discuss the types of different operators in python and provide examples of how they are used?
# Ans. 1.Arithmatic Operators:-
# Example:- +, -, *, /, %, **.
a=5
b=8
a+b

13

In [6]:
# 2. Comparison Operators:-
# Example:- <, >, >=, <=, ==, !=.
a=10
b=15
a>b

False

In [7]:
# 3. Logical Operators:-
# Example:-
# Logical and
# Logical or
# Logical not
a=15
b=20
(a>10)and(b<30)

True

In [35]:
a=50
b=60
(a>100)or(b<10)

False

In [9]:
#Q5 Explain typecasting in python with example?
# Ans. Type casting is the method to convert the python variable datatype into a certain data type.
st= "123"
result=int(st)
result
type(result)

int

In [34]:
inte= 123
result= float(inte)
result
type(result)

float

In [11]:
fl= 56.6
result= int(fl)
result
type(result)

int

In [12]:
tup= (1, 2, 3, 5)
result= list(tup)
result
type(result)

list

In [13]:
li=[1,2,3,4,5]
result= tuple(li)
result
type(result)

tuple

In [17]:
#Q6 How conditional statement work in python? illustrate with example?
# Ans. If the condition is true, the if block code is executed and if the condition is false,
#the else block code is executed.
# Types of conditional statement:-
# 1. if statement
# 2. if-else startElement
# 3. if-elif else startElement
# 4. nested if-else statement
#Example of if statement

age = 20
if age >= 18:
 print("You are eligible for voting")

You are eligible for voting

In [18]:
#Example of if-else statement
age=17
if age>=18:
 print("You are eligible for vote")
else:
 print("You are not eligible for vote")

You are not eligible for vote

In [25]:
#Example of if-elif else statement
grade= 5.5
if grade>=7.0 and grade<=10.0:
 print("First Division")
elif grade>=5.0 and grade<=7.0:
 print("Second Division")
else:
 print("Third Division")

Second Division

In [31]:
#nested if-else statement
num = 5
if num > 0:
    print("The number is positive.")
else:
    if num < 0:
        print("The number is negative.")
    else:
            print("The number is zero.")

The number is positive.

In [33]:
#Q7 Describe the different types of loops in Python and their use cases with examples.
# Ans. Types of loop statement:-
# 1. For loop statement.
# 2. While loop statement.
item=[1,2,3,4,5,6]
for item in range(1, 5, 1):
 print(item)

1
2
3
4

In [38]:
i = 1
while i < 6:
 print(i)
 i += 1

1
2
3
4
5

In [42]:
#Break and Continue Statement:- Break statement stops the entire process of the loop and Continue statement only stops the current iteration of the loop.
# Example of break statement:-
item=[1,2,3,4,5,6,7,8,9]
for item in range(1,10,1):
    if item%2==0:
        break
        print(item)

In [45]:
# Example of continue statement:-
item=[1,2,3,4,5,6,7,8,9]
for item in range(1,10,1):
    if item%2==0:
        continue
        print(item)